td {  font-family: "ו", "Arial"; color: #333333; line-height: 150%}
a:link {
	color: #0033CC;
	text-decoration: none;
}
a:visited {
	color: #000099;
	text-decoration: none;
}
a:hover {
	color: #FF9900;
	text-decoration: underline;
}
.h3 {  COLOR: #666666; FONT-SIZE: 8px}.td1 {

}
.td1 {

}
A.b:link {
	COLOR: #666666;

	TEXT-DECORATION: none;
	line-height: 120%;
}
A.b:visited {
	COLOR: #666600;

	TEXT-DECORATION: none;
	line-height: 120%;
}
A.b:hover {
	COLOR: #FF9900;

	TEXT-DECORATION: underline;
	line-height: 120%;
}